node_modules/
/dist
/coverage

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# docs
_build/
bin/
build/
include/
lib/
lib64/
local/
share/python-wheels
share
pyvenv.cfg
